article {
  z-index: 9999;
  background-color: #fff;

  @media screen and (min-width: $tablet_width + 1px) {
    padding: 3rem 5rem;
  }
  @media only screen and (min-width: $smartphone_width + 1px) and (max-width: $tablet_width) {
    padding: 1.5rem 2rem;
  }
  @media screen and (max-width: $smartphone_width) {
    padding: 0.5rem 1.5rem;
  }

  header {
    padding: 1rem 0;
    margin-bottom: 3.5rem;

    h1 {
      @include font-size(2.2rem);
      margin-bottom: 2rem;
    }
  }

  h2 {
    @include font-size(1.6rem);
    margin-top: 4rem;
    border-bottom: 1px solid #eae8e8;
    padding-bottom: 0.2rem;
  }

  h3 {
    @include font-size(1.35rem);
    margin-top: 4rem;
    border-bottom: 1px dotted #eae8e8;
    padding-bottom: 0.2rem;
  }

  p, ul, ol, blockquote {
    margin: 2.5rem 0;
    @include font-size(1.2rem);
  }

  ul, ol {
    margin-left: 2rem;
  }

  ul {
    list-style-type: disc;
  }

  .post-meta {
    color: #888;
  }
}

.bgfilter {
  position: fixed;
  background-color: #f4f5f5e6;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
