html,
body {
  margin: 0;
  padding: 0;
  font-family: Koruri, 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック',
    sans-serif;
  @include font-size(1.1rem);
}

.title {
  color: $gray;
  @include font-size(1.6rem);
  &.is-centered {
    text-align: center;
  }
}

.field {
  &.is-centered {
    text-align: center;
  }
}

.hidden {
  display: none;
}
