html,
body {
  margin: 0;
  padding: 0;
  @include font-size(1.1rem);
}

ul,
ol {
  margin-left: 2rem;
}

ul {
  li {
    list-style-type: disc;
  }
}

.title {
  $title_font_size: 2rem;
  @include font-size($title_font_size);
  &.is-centered {
    text-align: center;
  }
  &.is-small {
    font-size: ($title_font_size * 0.6);
  }
}

.field {
  &.is-centered {
    text-align: center;
  }
}

.hidden {
  display: none;
}
