@font-face {
  font-family: 'Koruri';
  src: url('../fonts/Koruri-Regular.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Koruri';
  src: url('../fonts/Koruri-bold.ttf') format('truetype');
  font-weight: 700;
}
