@font-face {
  font-family: 'Koruri';
  src: url('../fonts/Koruri-Regular.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Koruri';
  src: url('../fonts/Koruri-Bold.ttf') format('truetype');
  font-weight: 700;
}

html,
body {
  font-family: Koruri, 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック',
    sans-serif;
}
